html {
  background-color: #0099ff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* CSS for <Nav/> component*/
.flex-container {
  font-family: "Poppins", sans-serif;

  height: 125px;
  background-color: #0099ff;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

#outercontainer {
  padding-left: 15vw;
  padding-right: 15vw;
}

.logodiv {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.logoroute {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.logotext {
  margin-left: 60px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.navtext {
  font-size: 25px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
  font-weight: 600;
  text-decoration: none;
  display: inline;
  margin-top: 5px;
}

.linkdiv {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-top: -5px;
}

.buttondiv {
  margin-top: 5px;
}

.buttondiv {
  display: flex;
  align-items: center;
}

#signOut {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border-radius: 50px;
  color: #0099ff;
  cursor: pointer;
}

.burgerbutton {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerimage {
  width: 35px;
  height: 35px;
  margin-top: 3px;
}

/* CSS for <Heading/> component*/
.container {
  padding-left: 15vw;
  padding-right: 15vw;
  position: static;
  z-index: 29;
}
.headingdiv {
  display: flex;
  justify-content: space-between;
}
.mainheading {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-top: 50px;
  width: 700px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
}

.image {
  margin-top: 70px;
  width: 550px;
  height: 365px;
}

.burgerbutton {
  display: none;
}

.buttondiv2 {
  display: none;
}

@media only screen and (max-width: 1608px) {
  .containter {
    display: flex;
    justify-content: center;
  }
  .headingdiv {
    display: block;
  }
  .mainheading {
    width: auto;
    text-align: center;
  }
  .image {
    margin-top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1465px) {
  .burgerbutton {
    display: flex;
  }
  .navtext {
    display: none;
  }
  .linkdiv {
    column-gap: 10px;
  }
}
/* @media only screen and (max-width: 902px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .flex-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .image {
    width: auto;
    height: auto;
  }
} */

@media only screen and (max-width: 789px) {
  .mainheading {
    font-size: 50px;
  }
  .image {
    display: none;
  }
}

@media only screen and (max-width: 589px) {
  .mainheading {
    font-size: 40px;
  }
  .image {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .container {
  }
}

@media only screen and (max-width: 425px) {
  #wave1 {
    width: 150vw !important;
  }
  .App {
    width: 100vw !important;
    overflow-x: hidden !important;
  }
  #menu2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  #text1 {
    font-size: 30px;
    margin-top: -100px !important;
  }
  #text {
    font-size: 30px;
  }

  #x {
    width: 30px !important;
    height: 30px !important;
  }
  .menuitems {
    row-gap: 100px !important;
    align-items: center;
    justify-content: center;
    height: 100vw;
  }
  .flex-container {
    justify-content: center;
  }
  #wave2 {
    width: 150vw !important;
  }
}

@media only screen and (max-width: 420px) {
  #wave1 {
    width: 150vw !important;
  }
}
@media only screen and (max-width: 550px) {
  .logodiv {
    width: 180px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .logotext {
    font-size: 22px;
    margin-left: 50px;
  }
}
.menu2 {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #0099ff;
}

.menuitems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 150px;
}

.navtext2 {
  font-size: 40px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
  font-weight: 600;
  text-decoration: none;
  display: inline;
  margin-top: 5px;
}

#text1 {
  margin-top: -400px;
}

.login2 {
  font-size: 35px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 90px;
  width: 200px;
  border-radius: 50px;
  color: #0099ff;
}

#x {
  display: flex;
  justify-content: flex-end;
  width: 35px;
  height: 35px;
}
#xbutton {
  background-color: transparent;
  border: none;
}

#text1 {
  margin-top: 100px;
}

#page {
  display: block;
}

#wave1 {
  width: 100vw;
  margin-top: 25px;
  z-index: -3;
}

#menu2 {
  z-index: 30;
}

#signOut {
  border: none;
  height: 38px;
  width: 110px;
  padding: 0;
}

#signOutText {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

/* Features.js styles */

#featuresdiv {
  background-color: white;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#featuresdiv h1 {
  color: #0099ff;
  font-weight: 700;
  font-size: 40px;
  margin-top: 100px;
  font-family: "poppins", sans-serif;
  margin-bottom: 60px;
}

#featureselementsdiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
}

#wave2 {
  width: 100vw;
  z-index: -20;
  margin-top: -10px;
}
