html {
  background-color: #0099ff;
}

/* CSS for <Nav/> component*/
.flex-container {
  font-family: "Poppins", sans-serif;
  padding-left: 15vw;
  padding-right: 15vw;
  height: 125px;
  background-color: #0099ff;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.logodiv {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.logoroute {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.logotext {
  margin-left: 60px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.navtext {
  font-size: 25px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
  font-weight: 600;
  text-decoration: none;
  display: inline;
  margin-top: 5px;
}

.linkdiv {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.buttondiv {
  display: flex;
  align-items: center;
}

#signOut {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border-radius: 50px;
  color: #0099ff;
  cursor: pointer;
}

.burgerbutton {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerimage {
  width: 35px;
  height: 35px;
}

/* CSS for <Heading/> component*/
.container {
  padding-left: 15vw;
  padding-right: 15vw;
  position: static;
  z-index: 29;
}
.headingdiv {
  display: flex;
  justify-content: space-between;
}
.mainheading {
  font-size: 70px;
  margin-top: 50px;
  width: 800px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
}

.image {
  margin-top: 70px;
  width: 550px;
  height: 365px;
}

.burgerbutton {
  display: none;
}

@media only screen and (max-width: 1608px) {
  .containter {
    display: flex;
    justify-content: center;
  }
  .headingdiv {
    display: block;
  }
  .mainheading {
    width: auto;
    text-align: center;
  }
  .image {
    margin-top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1328px) {
  .burgerbutton {
    display: flex;
  }
  .navtext {
    display: none;
  }
  .linkdiv {
    column-gap: 10px;
  }
}
@media only screen and (max-width: 902px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .flex-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .image {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 789px) {
  .mainheading {
    font-size: 50px;
  }
}

@media only screen and (max-width: 589px) {
  .mainheading {
    font-size: 40px;
  }
  .image {
    display: none;
  }
}

.menu2 {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.305);
}

.menuitems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 150px;
}

.navtext2 {
  font-size: 50px;
  color: white;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.15);
  font-weight: 600;
  text-decoration: none;
  display: inline;
  margin-top: 5px;
}

#text1 {
  margin-top: -400px;
}

.login2 {
  font-size: 35px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 90px;
  width: 200px;
  border-radius: 50px;
  color: #0099ff;
}

#x {
  display: flex;
  justify-content: flex-end;
  width: 35px;
  height: 35px;
}
#xbutton {
  background-color: transparent;
  border: none;
}

#text1 {
  margin-top: 100px;
}

#page {
  display: block;
}

#wave1 {
  width: 100vw;
  margin-top: 25px;
  z-index: -3;
}

#menu2 {
  z-index: 30;
}
